.footer {
    background-color: #707070;
    color: #b6f0ff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin: 5px 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #ddd;
}

.footer-social {
    margin-top: 20px;
}

.footer-text {
    margin-bottom: 10px;
    font-size: 14px;
}

.social-media {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    transition: opacity 0.3s;
}

.social-icon img:hover {
    opacity: 0.7;
}
/* styles.css ou un fichier CSS équivalent */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Conteneur principal */
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  /* Autres styles globaux ici */
  
  /* Media Queries pour mobile */
  @media screen and (max-width: 768px) {
    /* Vos ajustements pour mobile ici */
    .container {
      padding: 0 10px;
    }
  
    h1, h2, h3 {
      font-size: 1.2em;
    }
  
    .products-list {
      flex-direction: column;
      gap: 10px;
    }
  
    .product-item {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .auth-page form, .user-settings form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    button {
      width: 100%;
      padding: 15px;
      font-size: 1em;
    }
  
    section {
      padding: 10px 0;
    }
  }
  