.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* styles.css ou un fichier CSS équivalent */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Conteneur principal */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Autres styles globaux ici */

/* Media Queries pour mobile */
@media screen and (max-width: 768px) {
  /* Vos ajustements pour mobile ici */
  .container {
    padding: 0 10px;
  }

  h1, h2, h3 {
    font-size: 1.2em;
  }

  .products-list {
    flex-direction: column;
    gap: 10px;
  }

  .product-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .auth-page form, .user-settings form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
    padding: 15px;
    font-size: 1em;
  }

  section {
    padding: 10px 0;
  }
}
