.homepage {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .banner {
    margin-bottom: 20px;
  }
  
  .banner-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .categories {
    margin-bottom: 40px;
  }
  
  .categories h2 {
    margin-bottom: 20px;
  }
  
  .categories-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .category-item {
    flex: 1 1 30%;
    margin: 10px;
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .category-item:hover {
    transform: scale(1.05);
  }
  .popular-products {
    margin-bottom: 40px;
  }
  
  .popular-products h2 {
    margin-bottom: 20px;
  }
  
  .products-list {
    display: flex; /* Affichage en flexbox */
    justify-content: space-between; /* Espace entre les éléments */
    overflow-x: auto; /* Ajout d'un défilement horizontal si nécessaire */
    gap: 20px; /* Espace entre les éléments */
  }
    
  .search-list {
    display: flex; /* Affichage en flexbox */
    justify-content: space-between; /* Espace entre les éléments */
    overflow-x: auto; /* Ajout d'un défilement horizontal si nécessaire */
    gap: 20px; /* Espace entre les éléments */
  }

  .product-item {
    flex: 20 0 auto; /* Maintient la taille d'origine de chaque élément */
    width: 200px; /* Largeur des éléments */
    text-align: center;

  }
  
  .product-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .products-list {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    width: 100%;
    margin-left: 100px;
    overflow-x: auto; /* Permet le défilement manuel */
    scroll-behavior: smooth; /* Rend le défilement manuel plus fluide */
    animation: scrollLeftRight 10s linear infinite; /* Défilement auto alterné */
  }
  
  @keyframes scrollLeftRight {
    0% {
      transform: translateX(0); /* Départ de la position initiale */
    }
    50% {
      transform: translateX(-30%); /* Atteint la fin du contenu */
    }
    100% {
      transform: translateX(0); /* Retour à la position initiale */
    }
  }
  
  .products-list:hover {
    animation-play-state: paused; /* Arrête l'animation au survol */
  }
  